{% extends "base/content.html" %}
{% load bootstrap_pagination staticfiles django_bootstrap_breadcrumbs breadcrumb %}

{% block breadcrumbs %}
    {{block.super}}
    {% breadcrumb "Backup" "backup:list" %}
{% endblock %}

{% block header %}
<div class="col-lg-8">
    <h2>Backup list</h2>
</div>
<div class="col-lg-4">
    <div class="btn btn-primary pull-right m-t-8 m-r-md" id="dev__generate_backup">Create backup</div>
</div>
<div class="col-xs-12 p-r-none">
    {% render_view_breadcrumbs "base/breadcrumb.html" %}
</div>
{% endblock %}

{% block main %}
<div class='row project-list-detail'  id='project-list-detail'>
    <div class='col-lg-12' data-list="col-lg-12" data-detail='col-lg-8'>
        <div class='ibox float-e-margins'>
            <div class="ibox-title">
                <h2>Backup List</h2>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                     <span class="pull-right text-muted m-t-md m-b-md l-h-34">{{paginator.count}} backup{{ paginator.count|pluralize }} found</span>
                     {% if object_list %}
                    <table class="table table-hover list-detail sprints projects table-l-fix messages-list">
                        <thead>
                            <tr>
                                <th width="10%">Created</th>
                                <th width="50%">Created by</th>
                                <th width="20%">S3 File</th>
                                <th width="10%">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in object_list %}
                            <tr data-role='trigger'
                                data-url="">
                                <td>{{object.created}}</td>
                                <td>
                                    <div class='cut-text'>
                                        {{object.created_by.get_full_name}}
                                    </div>
                                </td>
                                <td>{% if object.is_ready %}<a href="{{object.url_path}}" target="_blank">Download{% else %}Not available yet{% endif %}</td>
                                <td>
                                    {{object.get_status_display|capfirst}}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="pull-right">
                        {% bootstrap_paginate page_obj range=10 %}
                    </div>
                    {% else %}
                        <div class="text-center full-width pull-left m-b-md">
                            <i class="fa fa-circle f-24" aria-hidden="true"></i><br>
                            You don't have backups yet.
                        </div>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/exo_backup.js' %}"></script>
{% endblock %}
